.App {
  font-family: sans-serif;
  text-align: center;
}

.Oven {
  width: 200px;
  height: 120px;

  object-fit: cover;
}

.microwave { 
  width: 150px;
  height: 100px;
  background: #000;
  margin: auto;
}